/* ----- Imports ----- */
/* Resets */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ----- Variables ----- */
/* Fonts */
/* Colors */
/* ----- Mixins ----- */
/* Set font */
/* Delays */
/* ----- Styles implementations ----- */
html, body {
  font-family: "Arsenal", sans-serif !important; }

.fallback-message {
  font-family: "Arsenal", sans-serif !important; }

.titulo {
  font-family: "Anton", sans-serif !important; }

.lightTxt, .titulo {
  color: azure !important; }

.present .segundo {
  -webkit-animation-delay: 0.25s !important;
  -moz-animation-delay: 0.25s !important;
  -ms-animation-delay: 0.25s !important;
  -o-animation-delay: 0.25s !important;
  animation-delay: 0.25s !important; }

.present .tercero {
  -webkit-animation-delay: 0.5s !important;
  -moz-animation-delay: 0.5s !important;
  -ms-animation-delay: 0.5s !important;
  -o-animation-delay: 0.5s !important;
  animation-delay: 0.5s !important; }

.present .cuarto {
  -webkit-animation-delay: 0.75s !important;
  -moz-animation-delay: 0.75s !important;
  -ms-animation-delay: 0.75s !important;
  -o-animation-delay: 0.75s !important;
  animation-delay: 0.75s !important; }

.step {
  font-size: 48px;
  line-height: 1.5; }

.slide {
  font-size: 30px;
  line-height: 36px; }

.slide q {
  font-size: 50px;
  line-height: 72px; }

.slide .txt {
  font-size: 25px;
  line-height: 30px;
  color: lightslategray !important; }

#eslabon {
  color: azure !important; }

.eslabon .try {
  font-size: 64px;
  line-height: 50px;
  -webkit-transform: translateZ(20px);
  -ms-transform: translateZ(20px);
  -o-transform: translateZ(20px);
  transform: translateZ(20px); }

.eslabon h1 {
  font-size: 100px;
  line-height: 150px;
  -webkit-transform: translateZ(50px);
  -ms-transform: translateZ(50px);
  -o-transform: translateZ(50px);
  transform: translateZ(50px); }

.eslabon .footnote {
  font-size: 32px;
  line-height: 1; }

#misticaEs {
  font-size: 60px;
  line-height: 1; }

#misticaEs b {
  font-size: 250px;
  line-height: 250px; }

#misticaEs .thoughts {
  font-size: 90px;
  line-height: 150px; }

#its-in-3d b {
  -webkit-transform: translateZ(40px);
  -ms-transform: translateZ(40px);
  -o-transform: translateZ(40px);
  transform: translateZ(40px); }

#its-in-3d b, #its-in-3d span {
  display: inline-block;
  transition: 0.5s; }

#its-in-3d p {
  transform-style: preserve-3d; }

#its-in-3d .have {
  -webkit-transform: translateZ(-40px);
  -ms-transform: translateZ(-40px);
  -o-transform: translateZ(-40px);
  transform: translateZ(-40px); }

#its-in-3d .you {
  -webkit-transform: translateZ(20px);
  -ms-transform: translateZ(20px);
  -o-transform: translateZ(20px);
  transform: translateZ(20px); }

#its-in-3d .noticed {
  -webkit-transform: translateZ(-40px);
  -ms-transform: translateZ(-40px);
  -o-transform: translateZ(-40px);
  transform: translateZ(-40px); }

#its-in-3d .its {
  -webkit-transform: translateZ(60px);
  -ms-transform: translateZ(60px);
  -o-transform: translateZ(60px);
  transform: translateZ(60px); }

#its-in-3d .in {
  -webkit-transform: translateZ(-10px);
  -ms-transform: translateZ(-10px);
  -o-transform: translateZ(-10px);
  transform: translateZ(-10px); }

#its-in-3d .footnote {
  -webkit-transform: translateZ(-10px);
  -ms-transform: translateZ(-10px);
  -o-transform: translateZ(-10px);
  transform: translateZ(-10px);
  font-size: 32px;
  line-height: 1; }

#its-in-3d.present b {
  -webkit-transform: translateZ(0px);
  -ms-transform: translateZ(0px);
  -o-transform: translateZ(0px);
  transform: translateZ(0px); }

#its-in-3d.present span {
  -webkit-transform: translateZ(0px);
  -ms-transform: translateZ(0px);
  -o-transform: translateZ(0px);
  transform: translateZ(0px); }

.hint {
  -webkit-transform: translateY(400px);
  -ms-transform: translateY(400px);
  -o-transform: translateY(400px);
  transform: translateY(400px);
  font-size: 20px;
  line-height: 1;
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 100px;
  background: rgba(0, 0, 0, 0.5);
  color: #EEE;
  text-align: center;
  padding: 20px;
  z-index: 100;
  opacity: 0; }

.impress-on-bored .hint {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px); }
