/* ----- Imports ----- */

@import 'reset';



/* ----- Variables ----- */

/* Fonts */

$font-primero: 'Arsenal', sans-serif !important;
$font-segundo: 'Anton', sans-serif !important;

/* Colors */

$color-primero: lightslategray !important;
$color-segundo: violet !important;
$color-tercero: yellowgreen !important;
$color-cuarto: azure !important;



/* ----- Mixins ----- */

/* Set font */

@mixin setFont($size, $lineH) {
	font-size: $size;
	line-height: $lineH;
}

/* Delays */

@mixin aniDelay($delay) {
    -webkit-animation-delay: $delay !important;
    -moz-animation-delay:    $delay !important;
    -ms-animation-delay:     $delay !important;
    -o-animation-delay:      $delay !important;
    animation-delay:         $delay !important;
}

@mixin traDelay($delay) {
	-webkit-transition-delay: $delay;
	-o-transition-delay: $delay;
	transition-delay: $delay;
}

@mixin transition($time) {
	transition: $time;
}

@mixin transZ($pixels) {
	-webkit-transform: translateZ($pixels);
	-ms-transform: translateZ($pixels);
	-o-transform: translateZ($pixels);
	transform: translateZ($pixels);
}

@mixin transY($pixels) {
	-webkit-transform: translateY($pixels);
	-ms-transform: translateY($pixels);
	-o-transform: translateY($pixels);
	transform: translateY($pixels);
}


/* ----- Styles implementations ----- */

html, body {
	font-family: $font-primero;
}

.fallback-message {
	font-family: $font-primero;
}

.titulo {
	font-family: $font-segundo;
}

.lightTxt, .titulo {
	color: $color-cuarto;
}

.present .segundo {
	@include aniDelay(0.25s);
}

.present .tercero {
	@include aniDelay(0.5s);
}

.present .cuarto {
	@include aniDelay(0.75s);
}

.step {
	@include setFont(48px, 1.5);
}

.slide {
	@include setFont(30px, 36px);
}

.slide q {
	@include setFont(50px, 72px);
}

.slide .txt {
	@include setFont(25px, 30px);
	color: $color-primero;
}

#eslabon {
	color: $color-cuarto;
}

.eslabon {
	.try {
		@include setFont(64px, 50px);
		@include transZ(20px);
	}
	h1 {
		@include setFont(100px, 150px);
		@include transZ(50px);
	}
	.footnote {
		@include setFont(32px, 1);
	}
}

#misticaEs {
	@include setFont(60px, 1);
}

#misticaEs b {
	@include setFont(250px, 250px);
}

#misticaEs .thoughts {
	@include setFont(90px, 150px);
}

#its-in-3d {
	b {
		@include transZ(40px);
	}
	b, span {
		display: inline-block;
		@include transition(0.5s);
	}
	p {
		transform-style: preserve-3d;
	}
	.have {
		@include transZ(-40px);
	}
	.you {
		@include transZ(20px);
	}
	.noticed {
		@include transZ(-40px);
	}
	.its {
		@include transZ(60px);
	}
	.in {
		@include transZ(-10px);
	}
	.footnote {
		@include transZ(-10px);
		@include setFont(32px, 1);
	}
	&.present b {
		@include transZ(0px);
	}
	&.present span {
		@include transZ(0px);
	}
}

.hint {
	@include transY(400px);
	@include setFont(20px, 1);
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 100px;

    background: rgba(0,0,0,0.5);
    color: #EEE;
    text-align: center;
    padding: 20px;

    z-index: 100;
    opacity: 0;
}

.impress-on-bored .hint {
	@include transY(0px);
}
